html,
body,
#content {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#config-panel {
    overflow: scroll;
}
#config-panel > .app-icon {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#config-panel > .app-icon > img {
    width: 70px;
}
#config-panel > form {
  display: flex;
  flex-direction: column;
}
#config-panel > form > label {
  margin-top: 10px;
  display: inline-block;
}
#config-panel > form > textarea {
  resize: vertical;
}


/* thank you https://stackoverflow.com/a/55202728 */
.splitter {
    width: 100%;
    height: 100px;
    display: flex;
}
.split-separator {
    cursor: col-resize;
    background-color: #aaa;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 100%;
    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.split-left {
    background-color: #dde;
    width: 70%;
    height: 100%;
    min-width: 10px;
}
.split-right {
    background-color: #eee;
    width: 30%;
    height: 100%;
    min-width: 10px;
}

