<!DOCTYPE html>
<html>
<head>
    <title>Snorkel</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" />
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>

    <div id="content" class="splitter">
        <div id="map" class="split-left">MAP</div>
        <div id="separator" class="split-separator"></div>
        <div id="control-panel" class="split-right">
            <div class="app-icon">
                <img src="{{ url_for('static', filename='snorkel.svg') }}" alt="Snorkel Icon">
            </div>
            <form id="config-form" onsubmit="submitRequest">

                <label for="host_input">URL</label>
                <input id="host_input"
                       type="text"
                       name="host"
                       value="{{ default_host }}">

                <label for="layer_input">Layer</label>
                <select id="layer_input" name="layer">
                    <option>nz_soil_type</option>
                    <option>nz_slope_direction</option>
                    <option>nz_slope_steepness</option>
                    <option>nz_land_use_capability</option>
                </select>

                <br>
                <label for="version_input">Version</label>
                <input id="version_input"
                       type="text"
                       name="version"
                       value="{{ default_version }}">

                <br>
                <label for="geometry_input">Geometry</label>
                <textarea
                    id="geometry_input"
                    name="geometry"
                    rows=20
                >
                    {{ default_geometry }}
                </textarea>

                <br>
                <input type="submit">
            </form>
        </div>
    </div>

    <!--
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap&v=weekly"
      async
    ></script>
    -->
</body>
</html>
